/*Opacidade */

#caixa {
	width: 300px;
	height: 300px;
	background: url(../imagens/camera.png);
}

#caixa>h1 {
	background: rgba(255, 255, 255, 0.5); /* O último valor define opcaidade */
}

/*Gradiente */

#caixa2 {
	width: 300px;
	height: 300px;
	background: linear-gradient(red, green); /* Sem direção */

}

#caixa3 {
	width: 300px;
	height: 300px;
	background: linear-gradient(to left, red, green); /* Com direção, to right, to left, to top, to bottom */
}

#caixa4 {
	width: 300px;
	height: 300px;
	background: linear-gradient(120deg, red, green); /* Com grau */
}

#caixa5 {
	width: 300px;
	height: 300px;
	background: radial-gradient(red, green, yellow); /* Radial */	
}