/* ------Estrutura do Site ----- */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(../imagens/fundo.png) repeat-x;
}

input[type="text"] {
     width: 100%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}

#container {
	width: 750px;
	margin: 0 auto;
}

#topo {
	height: 150px;
	background: url(../imagens/detalhe-topo.png) no-repeat right top;
	padding-top: 25px;
}

.logo {
	width: 152px;
	height: 66px;
	background: url(../imagens/logo.png) no-repeat center;
	text-indent: -3000px;
}

/* Barra de navegação
*/

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #b10333;
	padding: 2px;
}

a:hover {
	color: #e50040;
}

#topo ul {
	margin-top: 30px;
	background: #b10333;
	float: left;
}

#topo ul li {
	float: left;
}

#topo ul a {
	font-size: 0.9em;
	color: #fff;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	background: url(../imagens/divisor.png) no-repeat left;
}

#topo ul .primeiro a {
	background: none;
}

#topo ul a:hover {
	color: #69001d;

}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos {
	color: #fff;
	background: #de003e;
	cursor: text;
}

/* 
Layout de três colunas
*/

#conteudo {
	margin-top: 60px;
	background: #f5f5f5;
}

#lateral {
	width: 180px;
	float: left;
	margin: 0 0 20px -750px;
}

#primario {
	margin: 0 0 20px 195px;
	float: left;
}

#uma-coluna #primario {
	width: 750px;
	margin: 0;
}

#duas-colunas #primario {
	width: 555px;
}

#tres-colunas #primario {
	width: 270px;

}

#secundario {
	width: 270px;
	margin: 0 0 20px 15px;
	float: left;
}

#container-rodape {
	background: #294c71;
	padding: 20px;
	clear: both;
}

/*
Caixa
*/

.caixa {
	background: #f3f3f3 url(../imagens/fundo-caixa.png);
	margin: 10px 0;
	padding: 5px;
}

.caixa img {
	width: 100%;
}


h2 {
	font-size: 1em;
	padding: 5px;
	background: #294c71;
	color: #fff;
}

.caixa-conteudo {
	background: #fff;
	margin-top: 5px;
	padding: 4px;

}

#lateral ul a {
	font-size: 0.9em;
	padding: 3px;
	display: block;
	line-height: 30px;
	color: #000;
	border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
	background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
	padding-left: 20px;
}

label {
	display: block;
	cursor: pointer;
}

input {
	padding: 5px;
	font-size: 0.9em;
	background-color: #fff;
}

input[type="submit"]{
	width: 80px;
	color: #fff;
	background: #b10333;
	border: 2px solid #870529;
	margin-top: 5px;
}

/*
Formatando Imagens
*/
img {
	border: 2px solid #dfdfdf;
}

.destaque img {
	width: 98%;
	margin-top: 5px;
}

.bloco-lista img {
	width: 80px;
}


/*
Formatando cabeçalho
*/
h3 {
	text-transform: uppercase;
	display: inline;
	font-size: 0.8em;
	padding: 3px;
}

.destaque h3 {
	background: #b10333;
	color: #fff;
}

.entrevista h3 {
	background: #de003e;
	color: #fff;
}

/*
Formatação de lista de notícias
*/

#lista-noticias li {
	padding: 2px;
	border-bottom: 1px solid #ccc;
	height: 65px;
}

#lista-noticias li:hover {
	background: #eee;
	cursor: pointer;
}

#lista-noticias li a img {
	float: left;
	margin: 5px;
}


#lista-noticias li a h3 {
	font-size: 0.8em;
	padding: 0;
	color: #3e7ab9;
}

#lista-noticias li a p {
	font-size: 0.7em;
	color: #000;
}
/*
Rodape
*/
#container-rodape {
	width: 750px; 
	color: #fff;
	margin: 0 auto;
}