/* Estrutura do Site / Geral
---------------------------------------------*/

body {
	background: #f4f2ec url(../img/fundo.png) repeat-x;
	font: 12px "Lucinda Grande", "Lucinda Sans Unicode", Arial, sans-serif;
}

a:link, a:active, a:visited {
	text-decoration: none;
	color: #af670a;
}

a:hover {
	color: #227115;
}

nav ul {
	list-style: none;
	margin: 20px;
	float: right;
}

header {
	padding: 15px 0;
	height: 55px;
}

h4 {
	color: #86521a;
	text-transform: uppercase;
	padding-bottom: 3px;
	margin-bottom: 0;
}

form {
	padding: 8px 0;
}

input {
	height: 20px;
	width: 80px;
	background: #fff;
	border: none;
	font-size: 1em;
}

#container {
	width: 1080px;
	margin: 0 auto;
}

/* Logo
--------------------------------------------*/

#logo h1 {
	float: left;
}

#logo a {
	width: 248px;
	height: 21px;
	text-indent: -9999px;
	display: block;
	background: url(../img/logo.png) no-repeat;
}

/* Navegação
--------------------------------------------*/

nav ul#nav-topo {
	float: right;
}

nav ul#nav-topo li {
	float: left;
}

nav ul#nav-topo li a:link {
	display: block;
	margin-right: 25px;
	padding-bottom: 3px;
	text-transform: uppercase;
}

nav ul#nav-topo li a:hover {
	border-bottom: 1px solid #22711553;
}

/* Principal
--------------------------------------------*/

#conteudo {
	width: 710px;
	float: left;
}

aside {
	width: 350px;
	float: right;
	background: #ebe7dd;
}

div.lateral {
	background: #cdc8b1;
	padding: 10px 27px 27px 27px;
	margin-top: 10px;
}

/* Formulários
--------------------------------------------*/

input.campo {
	border: 1px solid #ada484;
}

input.botao {
	background: #9b9271;
	color: white;
	width: 100%;
	height: 40px;
	font-size: 1.2em;
}

/* Galeria
--------------------------------------------*/

div.galeria {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


div.galeria a {
	background: url(../img/fundo-foto.png) no-repeat;
	padding: 18px;
	float: left;
}