/* Estrutura do Site / Geral
---------------------------------------------*/

body {
	background: #f4f2ec url(../img/fundo.png) repeat-x;
	font: 12px "Lucinda Grande", "Lucinda Sans Unicode", Arial, sans-serif;
}

a:link, a:active, a:visited {
	text-decoration: none;
	color: #af670a;
}

a:hover {
	color: #227115;
}

nav ul {
	list-style: none;
	margin: 20px;
	float: right;
}

header {
	padding: 15px 0;
	height: 55px;
}

#container {
	width: 1080px;
	margin: 0 auto;
	border: 1px solid red;
}

/* Logo
--------------------------------------------*/

#logo a {
	width: 248px;
	height: 21px;
	text-indent: -9999px;
	display: block;
	background: url(../img/logo.png) no-repeat;
}

/* Navegação
--------------------------------------------*/

nav ul#nav-topo li {
	float: left;
}

nav ul#nav-topo li a:link {
	display: block;
	margin-right: 25px;
	padding-bottom: 3px;
	text-transform: uppercase;
}

nav ul#nav-topo li a:hover {
	border-bottom: 1px solid #22711553;
}