/*Transições */



#caixa {
	width: 300px;
	height: 300px;
	background: orange;
}

#caixa:hover {
	width: 400px;
	background: yellow;

	/* Necessário o uso de prefixos */
	/*-webkit-transition: ;
	-moz-transition: ;
	-o-transition: ;*/

	/*Definir de um em um
	transition: width 3s, background 3s; */

	/*Definir tudo*/
	transition: all 3s;

}