/*Estrutura*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(../imagens/bg.png);
	margin: 15px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

#container {
	background: #ede9cc url(../imagens/bg-container.png) top repeat-y;
	margin: 0 auto;
	min-width: 740px;
	max-width: 1180px;
}

#topo {
	background: #dbcd87;
	height: 15.4em;
	min-height: 250px;
	position: relative;
}

#area-logo {
	background: url(../imagens/topo-imagem-principal.png) no-repeat;
	width: 100%;
	height: 250px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#area-logo .logo a {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 3;
	background: url(../imagens/logo.png) no-repeat;
	width: 151px;
	height: 66px;
	text-indent: -9000px;
}

#area-menu {
	background: url(../imagens/topo-imagem-lateral.png) no-repeat;
	width: 450px;
	height: 250px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

#conteudo-menu {
	margin-left: 90px;
	margin-right: 15px;
	padding-top: 15px;
}

#menu-locais {
	border-bottom: 1px solid #b5ab56;
	border-top: 1px solid #b5ab56;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 0.7em;
	color: #8b8448;
}

#menu-locais .locais {
	float: left;
	line-height: 2.1em;
}

a.reserva {
	text-transform: uppercase;
	background: #a29750;
	color: #fff5b0;
	padding: 5px 10px;
	float: right;
}

/*Barra de navegação vertical
*/

#menu {
	margin-top: 15px;
}

ul#navegacao {
	float: left;
}

ul#navegacao a {
	text-transform: uppercase;
	font-size: 0.8em;
	padding: 5px;
	color: #6e672c;
	line-height: 2.1em;
}

ul#navegacao a:hover {
	background: #fdf6be;
}

.depoimento {
	width: 226px;
	height: 164px;
	float: right;
}

/*Área de conteúdos*/

#area-principal {
	float: left;
	width: 50%;
	background: url(../imagens/bg-area-principal.png) top left repeat-x;
	padding: 15px 0;
}

#area-lateral {
	float: right;
	width: 50%;
	background: url(../imagens/bg-area-lateral.png) top left repeat-x;
	padding: 20px 0;
}

.conteudo {
	margin: 0 auto;
	width: 90%;
}

#lista-lateral li {
	color: #000;
	height: 120px;
	padding: 5px;
	border-bottom: 1px solid #b5ab56;
}

#lista-lateral li:hover {
	background: #fdf6be;
}


#lista-lateral li a img {
	width: 170px;
	float: left;
	margin: 5px;
}

#lista-lateral a p {
	color: #000;
}

#lista-lateral a h3 {
	color: #7d7640;
	font-size: 1em;
	padding: 5px;
	background: url(../imagens/ornamento.png) no-repeat right center;
}

/*
Formatações de textos
*/

h2 {
	color: #7d7640;
	font-size: 1.1em;
	padding: 5px;
}

p {
	font-size: 1em;
	margin-bottom: 10px;
}



/*
Rodape
*/

#rodape {
	clear: both;
	padding: 16px;
	background: #fff url(../imagens/bg-rodape.png) repeat-x top;
	color: #7d7640;
}